<%- include ('../partials/header') %>

<% if (user) { %>
    <h1>
      Genres
      <a href="/genres/add" class="btn btn-success pull-right">Add Genre</a>
    </h1>
<% } %>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% genres.forEach(genre => { %>
            <tr>
                <td><%= genre.name %></td>
                <td>
                    <% if (user) { %>
                        <a href="/genres/edit/<%= genre._id %>" class="btn btn-default">Edit</a>
                        <form class="formDelete" action="/genres/delete/<%= genre._id %>?_method=DELETE" method="post">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include ('../partials/footer') %>