<%- include ('../partials/header') %>

<div class="inner">
    <h1 class="heading-secondary">Add Album</h1>
    <form class="card" action="/albums/add" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label class="form__label" for="artist">Artist</label>
            <input id="artist" type="text" name="artist" class="form__input" placeholder="Artist Name" required/>
        </div>
    
        <div class="form-group">
            <label class="form__label" for="title">Album Title</label>
            <input id="title" type="text" name="title" class="form__input" placeholder="Album Title" required/>
        </div>
    
        <div class="form-group">
            <label class="form__label" for="genre">Genre</label>
            <select id="genre" name="genre" class="form__input" required>
                <option value="Select a genre">Select a Genre</option>
                <% genres.forEach(genre => { %>
                    <option value="<%=genre.name %>"><%=genre.name %></option>
                <% }); %>
            </select>
        </div>
    
        <div class="form-group">
            <label class="form__label" for="info">Album Info</label>
            <textarea id="info" name="info" class="form__input" cols="30" rows="10" placeholder="Album Info" required></textarea>
        </div>
    
        <div class="form-group">
            <label class="form__label" for="year">Release Year</label>
            <input id="year" type="text" name="year" class="form__input" placeholder="Release Year" required/>
        </div>
    
        <div class="form-group">
            <label class="form__label" for="label">Record Label</label>
            <input id="label" type="text" name="label" class="form__input" placeholder="Record Label" required/>
        </div>
    
        <div class="form-group">
            <label class="form__label" for="tracks">Number of Tracks</label>
            <input id="tracks" type="text" name="tracks" class="form__input" placeholder="Number of Tracks" required/>
        </div>
    
        <div class="form-group">
            <label class="form__label" for="cover">Album Cover</label>
            <input id="cover" type="file" name="cover" accept="image/*" class="form__input" />
        </div>
    
        <% const choices = ["album", "albumcover", "hiphop", "newmusic",  "pop", "songs"]; %>
        <ul class="tags">
            <% choices.forEach(choice => { %>
             <div class="tag tag__choice form-group">
                 <input class="form__input" type="checkbox" id="<%= choice %>" name="tags" value="<%= choice %>" />
                 <label for="<%= choice %>">#<%= choice %></label>
             </div>
            <% }); %>
        </ul>
    
        <button type="submit" class="btn btn--green btn--small">Submit</button>
        <a href="/albums" class="btn btn-danger btn--small">Close</a>
    </form>
</div>

<%- include ('../partials/footer') %>
