<%- include ('../partials/header') %>

<h1>Edit Album</h1>
<form action="/albums/edit/<%= album._id %>?_method=PUT" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="artist">Artist</label>
        <input type="text" name="artist" value="<%= album.artist %>" class="form-control" placeholder="Artist Name" />
    </div>

    <div class="form-group">
        <label for="title">Album Title</label>
        <input type="text" name="title" value="<%= album.title %>" class="form-control" placeholder="Album Title" />
    </div>

    <div class="form-group">
        <label for="genre">Genre</label>
        <select name="genre" class="form-control">
            <option value="Select a genre">Select a Genre</option>
            <% genres.forEach(genre => { %>
                <option value="<%=genre.name %>"><%=genre.name %></option>
            <% }); %>
        </select>
    </div>

    <div class="form-group">
        <label for="info">Album Info</label>
        <textarea name="info" class="form-control"><%= album.info %></textarea>
    </div>

    <div class="form-group">
        <label for="year">Release Year</label>
        <input type="text" name="year" value="<%= album.year %>" class="form-control" placeholder="Release Year" />
    </div>

    <div class="form-group">
        <label for="label">Record Label</label>
        <input type="text" name="label" value="<%= album.label %>" class="form-control" placeholder="Record Label" />
    </div>

    <div class="form-group">
        <label for="tracks">Number of Tracks</label>
        <input type="text" name="tracks" value="<%= album.tracks %>" class="form-control" placeholder="Number of Tracks" />
    </div>

    <div class="form-group">
        <label for="cover">Album Cover</label>
        <input type="file" name="cover" accept="image/*" class="form-control" />
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    <a href="/albums" class="btn btn-danger">Close</a>
</form>

<%- include ('../partials/footer') %>
